.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contact-email {
    flex: 9;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

.contract {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #222222;
}

.divider {
    font-weight: 400;
    font-size: 11px;
    color: #222222;
    padding: 0 8px;
}

.contact-item {
    font-weight: 400;
    font-size: 11px;
    color: #222222;
}

.contract a {
    text-decoration: none;
    color: #222222;
}