.main-container {
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

/* semibold: 600, bold: 700 */
.contact-email {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* 남은 공간을 모두 차지하여 중앙에 위치하도록 함 */
    padding: 0; /* padding을 제거해야 정확한 중앙이 됨 */
    color: #222222;
}

.title {
    font-size: 15px;
    font-weight: 600;
    color: #222222;
}

.description {
    font-size: 14px;
    color: #CAC4D0;
}

.button-container {
    width: 100%;
}

.button-container a {
    text-decoration: none;
    color: #222222;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button-text {
    font-size: 15px;
    font-weight: 600;
}
